<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N27 - Startseite</title>
</head>
<body>
    <header>Herzlich Willkommen bei der N27 Bank

        <p>
            <button type="button">Kontostand anzeigen</button>
            </p>
       <p>
       <button type="button">Einzahlen</button>
       </p>
       <p>
        <button type="button">Auszahlen</button>
        </p>
        <p>
            <button type="button">Überweisung</button>
            </p>
     
        
    <footer>Impressum</footer>
</body>
</html>


