<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N27 - Startseite</title>
</head>
<body>
    <h1>Herzlich Willkommen bei der N27 Bank
       
        <div>
         Hallo
        </div> 
          
        <p>
            <button type="button">Kontostand anzeigen</button>
       <p>
       <button type="button">Einzahlen</button>
       </p>
       <p>
        <button type="button">Auszahlen</button>
        </p>
        <p>
            <button type="button">Überweisung</button>
            </p>
     
    <img src="logo.png" alt="Bank Logo" width="32" height="32"

    <a href="https://www.berufskolleg-borken.de/" target="_blank">BKB</a>
    
    <hr>

    <table border="1">
        <tr>
            <td>Zeile1 Spalte1</td>
            <td>Zeile1 Spalte2</td>
        </tr>
        <tr>
            <td>Zeile2 Spalte1</td>
            <td>Zeile2 Spalte2</td>
        </tr>
    </table>
    <ul>
      <li>Listenelement</li>  
      <li>Listenelement</li>  
    </ul>

    <ol>
        <li>Listenelement1</li>
        <li>Listenelement2</li>
    </ol>

   
    <footer>Impressum</footer>
</body>
</html>


