<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon(1).ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N27-Startseite</title>
    
</head>

<body>
    <h1>Willkommen</h1>
    <nav>
    <a href="/login">Logout</a>
    </nav>
</body>
</html>


