<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27 - Mein Konto</title>
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>N27 - Mein Konto</h1>            
        </div>
        
        <div class="navigationsleiste">            
            <a href="/">
                <i class="fa fa-home fa-2x" aria-hidden="true" title="Willkommen"></i>
            </a> --
            <a href="/profil">
                <i class="fa fa-user fa-2x" aria-hidden="true" title="Mein Profil"></i>
            </a>   --
            <a href="/about">
                <i class="fa fa-info fa-2x" aria-hidden="true" title="Über uns"></i>
            </a>   --
            <a href="/support">
                <i class="fa fa-street-view fa-2x" aria-hidden="true" title="Support"></i>
            </a>   --
            <a href="/login">
                <i class="fa fa-sign-out fa-2x" title="Abmelden"></i>
            </a>   --
            
        </div>
            <div class="inhaltsbereich">
                <form method="post">
                    <label for="fname">Deine IBAN:</label><br>
                    <input type="number" name="IdKunde"><br>   
                    <label for="lname">PIN:</label><br>
                    <input type="password" name="Kennwort" minlength="2"><br><br>
                    <button class="login" formaction="/login">Einloggen</button>
                    <label for="fname">Kontoart:</label><br>
                    <input type="number" name="IdKunde"><br>   
                    <label for="lname">Guthaben:</label><br>
                    <input type="password" name="Kennwort" minlength="2"><br><br>
                    
                    <form>
                        <button class="back" formaction="/index" type="submit"> <i class="fa fa-backward" aria-hidden="true"></i> Zurück zur Start-Seite</button>
                    
                    </form>
    

        </div>
        <div class="fusszeile">
            &copy; 2022 GW21A
        </div>
    </div>
</body>
</html>



