<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27 - Mein Profil</title>
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>N27 - Mein Profil</h1>            
        </div>

        <div class="navigationsleiste">
            <a href="/">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            <a href="/about">
                <i class="fa fa-info" aria-hidden="true"></i>
            </a>
                 
            <a href="/login">Logout</a>
        </div>
        <div class="inhaltsbereich">
            <div class="inhaltsbereich">
                <form method="post">
                    <label for="fname">Vorname:</label><br>
                    <input type="Vorname" name="Vorname" id="Vorname" value="Vorname">
                    <label for="name">Nachname:</label><br>
                    <input type="Nachname" name="Nachname"id="Nachname" value="Nachname">
                    <label for="Mail">E-Mail</label>
                    <input type="Name" name="E-Mail" id="maennlich" value="E-Mail">
                    <label for="Telefon">Telefonnummer</label>
                    <input type="number" name="Telefonnummer" id="number" value="number">

                    <button class="speichern" formaction="/">Daten speichern</button>
                    <input type="submit" name="button1" value="Save new Data"> 
                </form> 
        </div>
        <div class="fusszeile">
            &copy; 2022 GW21A
        </div>
    </div>
</body>
</html>